@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
 .button  {
  border-radius: 3rem;
  --tw-bg-opacity: 1;
  background-color: rgb(100 21 255 / var(--tw-bg-opacity));
  padding: 0.85rem 3rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(247 250 252 / var(--tw-text-opacity));
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 300ms;
  margin-top: 2rem;
    display: inline-block;
    width: 14rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: center;
    letter-spacing: 0.025em;
 }

 header {
  text-align: left;
  line-height: 1.375;
  --tw-text-opacity: 1;
  color: rgb(60 13 153 / var(--tw-text-opacity));
 }